
.get-relative {
position:relative;
}


.align-bottom
{
position: absolute;
bottom:0;
right:0;
}

.plugin_picture * img {
width: 100%;
height: auto;
}


/*----------------------- Top common block -------------------------*/
.bp-logo-top{
color: #008000;
font-size: xx-small;
font-stretch:  semi-expanded;
font-family:  Arial, sans-serif;
 text-transform: uppercase; 
 }

.bp-right-header {
background-color: #008000;
color: white;
width: 100%;
padding : 5px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */

}


/*----------------------- Top common block END ---------------------*/



.bp-menu{
    list-style-type: none;
	margin:0px;
	padding:0; 
	font-weight: bold;
}
.bp-menu > ul,li{
	list-style-type: none;
	margin: 0px;
	font-weight: bold;
}

.bp-menu  a{
	color:green;
}
.bp-menu * li{
font-weight: normal;
}

.bp-menu * li.selected a{
color: red;
}
/*----------------------- Breadcrumb block -------------------------*/
.bcrumb-list{
    list-style-type: none;
    float: left;
}
.bcrumb-item{
float: left;
}

/* . bcrumb-active   -this style is unused*/

/*----------------------- Breadcrumb block END----------------------*/



/*----------------------- Language chooser block -------------------*/

/*Should be added to commong css file*/
/*Used in language_chooser.html, template for Django cms*/
/*Author: Dmitry E. Kislov*/
/*E-mail: kislov@easydan.com*/

.l-ch-class {
    list-style-type: none;
    float: right;
    display: inline-block;
    }
    
.l-ch-active {
    text-decoration:None;
}

li.l-ch-active img {
display: inline;
}

li.l-ch-active {
	text-decoration:none;
	border-bottom: 2px solid blue;
}

.l-ch-class a: hover{
    text-decoration:none;
}
.l-ch-class a: active{
    text-decoration:none;
}
.l-ch-class a: visited{
    text-decoration:none;
}

.l-ch-item {
float:left;
}
/*----------------------- Language chooser block END ----------------*/