<!DOCTYPE HTML>

<html>
<head>
	<meta charset="utf-8"><title>Botanica Pacifica - a journal of plant science and conservation</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
	<style type="text/css">
   A {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
   } 
   A:hover { 
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color: red; /* Ссылка красного цвета */
   } 
  </style>
</head>

<body>

<div class="container">
  
  <div class="row">
  		<div class="col-md-12" style="background: red; border-radius: 40px;">
  
  			<table cellspacing="2" cellpadding="2" border="0" align="center" width="100%">
			<tr>
		<td width="60"><img src="logo.jpg" alt="BGI logo" width="45" height="45" border="0"></td>
		<td width="270"><a href="http://botsad.ru"><font face="Arial" size="1" color="#008000">BOTANICAL  GARDEN-INSTITUTE <br>FAR EASTERN BRANCH<br>RUSSIAN ACADEMY OF SCIENCES</font></a></td>
		<td width="300"><font face="Arial" size="1" color="#008000"></font></td>
		<td width="170" align="right" valign="bottom"><font face="Arial" size="1" color="#008000">ENGLISH - RUSSIAN</font></td>

		</tr>
			</table>
  
  
  		</div>
</div>
  
  
  
  
  <div class="row">
  <div class="col-md-3">
			<font face="Arial" size="1" color="#008000">ISSN 2226-4701 (Print)</font><br>
	<font face="Arial" size="1" color="#008000">ISSN 2410-3713 (Online)</font><br><br>	
	<font face="Arial" size="1" color="#008000">Journal doi: http://dx.doi.org/10.17581/bp </font><br><br>	
	<font face="Arial" size="3" color="#008000"><strong>Journal Menu</strong></font><br>
	&nbsp;&nbsp;&nbsp;<a href="index.html"><font face="Arial" size="2" color="#008000"><strong>Botanica Pacifica home</strong></font></a><br><br>
	&nbsp;&nbsp;&nbsp;<font face="Arial" size="2" color="#008000"><strong>Preprints</strong></font><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><font face="Arial" size="2" color="#008000">Online papers</font></strong><br>
	&nbsp;&nbsp;&nbsp;<font face="Arial" size="2" color="#008000"><strong>Issues</strong></font><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="2015_02.html" target="_blank"><font face="Arial" size="2" color="#008000">Current issue</font></a><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="arch_bp.html" target="_blank"><font face="Arial" size="2" color="#008000">Journal archive</font></a><br><br>
	&nbsp;&nbsp;&nbsp;<font face="Arial" size="2" color="#008000"><strong>For contributors</strong></font><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="rules_for_authors.pdf" target="_blank"><font face="Arial" size="2" color="#008000">Author guidelines</font></a><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="submission.html" target="_blank"><font font face="Arial" size="2" color="#008000">Manuscript submission</font></a><br><br>
	&nbsp;&nbsp;&nbsp;<font font face="Arial" size="2" color="#008000"><strong>About journal</strong></font><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="news.html" target="_blank"><font font face="Arial" size="2" color="#008000">News</font></a><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="bp_author_index.html" target="_blank"><font font face="Arial" size="2" color="#008000">Overview</font></a><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="bp_editors.html"><font font face="Arial" size="2" color="#008000">Editorial Board</font></a><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="ethics.html" target="_blank"><font font face="Arial" size="2" color="#008000">Publication Ethics</font></a><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font font face="Arial" size="2" color="#008000">Advertise</font><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="contact.html" target="_blank"><font font face="Arial" size="2" color="#008000">Contacts</font></a><br><br>
	
	<font face="Arial" size="3" color="#008000"><strong>Special Features</strong></font><br><br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="new_taxa.html"><font font face="Arial" size="2" color="#008000">Taxonomic novelties</font></a><br><br>

	<font face="Arial" size="3" color="#008000"><strong>Journal Secretariat</strong></font><br>
	<font font face="Arial" size="1" color="#008000">Botanica Pacifica<br>
	Botanical Garden-Institute<br>
	Makovskii Str. 142<br>
	Vladivostok 690024 RUSSIA<br>
	http://www.geobotanica.ru/bp<br>
	botanica.pacifica@icloud.com

	</font><br><br>
	
	<font font face="Arial" size="3" color="#008000"><strong>Indexed in:</strong></font><br>
	&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://elibrary.ru/title_about.asp?id=34460"><font font face="Arial" size="2" color="#008000">Russian Science Citation Index</font></a><br>


	</div>
  
  <div class="col-md-9">
  <strong>Papers published online, not assigned to an issue, but citable by DOI. </strong><br><br><br>

RESEARCH PAPERS<br><br>
Bhaskar C. Behera, Mangesh V. Morey & Subhash B. Gaikwad<br>	
<strong>Anti-lipoxygenase, Radical Scavenging and Antimicrobial Activities of Lichen Species of Genus Heterodermia (Physciaceae)</strong><br>
<a href="2016_05_01/behera_2016.html" target="_blank">ABSTRACT</a>&nbsp;&nbsp;&nbsp;
<a href="http://botsad.ru/media/aux/bp/BP_2016_5_1_behera.pdf" target="_blank">PDF</a>&nbsp;&nbsp;&nbsp;Article first published online: 06 NOV 2015 | DOI: 10.17581/bp.2016.05101
<br><br>
Ekaterina F. Malysheva, Vera F. Malysheva, Alexander E. Kovalenko, Elena A. Pimenova, Michael N. Gromyko, Svetlana N. Bondarchuk & Elena Yu. Voronina<br>	
<strong>Below-Ground Ectomycorrhizal Community Structure in the Postfire Successional Pinus koraiensis Forests in the Central Sikhote-Alin (the Russian Far East)</strong><br>
<a href="2016_05_01/malysheva_2016.html" target="_blank">ABSTRACT</a>&nbsp;&nbsp;&nbsp;
<a href="http://botsad.ru/media/aux/bp/BP_2016_5_1_malysheva.pdf" target="_blank">PDF</a>&nbsp;&nbsp;&nbsp;Article first published online: 18 DEC 2015 | DOI: 10.17581/bp.2016.05102
<br><br>

SHORT COMMUNICATION<br><br>
Hyeok Jae Choi<br>	
<strong>Portrayal of Allium spurium G. Don (Amaryllidaceae) from the border area of China and North Korea: a putative unrecorded species in the Korean Peninsula</strong><br>
<a href="2015_04_02/choi_2015.html" target="_blank">ABSTRACT</a>&nbsp;&nbsp;&nbsp;
<a href="http://botsad.ru/media/aux/bp/BP_2015_4_2_choi.pdf" target="_blank">PDF</a>&nbsp;&nbsp;&nbsp;Article first published online: 18 AUG 2015 | DOI: 10.17581/bp.2015.04202



	
	<br><br></font>
  </div>
  </div>
  
  
  
  <div class="row">
  <div class="col-md-12">
 			<font size="6" color="#FFFFFF" face="Arial"><strong>Botanica Pacifica</font><br>
<center>	<font size="2" color="#FFFFFF" face="Arial"><strong>A journal of plant science and conservation</font></strong>
</center>

<hr color="#008000" size="2" width="800" align="center">
<p align="center">
<a href="http://elibrary.ru" title="Russian electronic library"><img src="elibrary_logo.gif" width="88" height="31" alt="Russian electronic library"></a>&nbsp;&nbsp;&nbsp;
<a href="http://thomsonreuters.com/" title="Thomson Reuters"><img src="trlogo.jpg" width="120" height="31" alt="Thompson Reuters"></a>&nbsp;&nbsp;&nbsp;
<a href="http://www.cbd.int/2011-2020/" title="UN Decade on biodiversity"><img src="logo-undb-en.png" width="120" height="31" alt="UN Decade on biodiversity"></a>&nbsp;&nbsp;&nbsp;
<a href="http://www.theplantlist.org/" title="The plant list"><img src="plantlist.jpg" width="92" height="31" alt="The plant list"></a>
</p>
<hr color="#008000" size="2" width="800" align="center">

<p align="center"><font face="Arial" size="1" color="#008000">&#169; Botanica Pacifica 2011-2015<br>&#169; BGI FEB RAS 2011-2015</font>
</p>
	</div>

</div>

</div>
 
	
</body>
</html>

